<?xml version='1.0' encoding='ISO-8859-1'?>

<!DOCTYPE Menu SYSTEM "tablas/conosur/xml/dtd/menu.dtd">

<Menu>


	<MenuItem mostrar="OBJ" key="1">
		<NombreServicio>SuperCartola</NombreServicio>
		<Descripcion>Super Cartola</Descripcion>
		<Servicio>/cuentaswls/SuperCartola</Servicio>		
	</MenuItem>


	<MenuItem mostrar="OBJ" key="2">
		<NombreServicio>CartolaLinea</NombreServicio>
		<Descripcion>Cartola</Descripcion>
		<Servicio>/cuentaswls/ControladorCuentas?opcion=CTACTECARTOLA</Servicio>
		<Parametros>
			<Parametro>objeto</Parametro>
		</Parametros>
	</MenuItem>

	<MenuItem mostrar="OBJ" key="3">
		<NombreServicio>MiniCartolaCtaCte</NombreServicio>
		<Descripcion>Minicartola</Descripcion>
		<Servicio>/cuentaswls/MiniCartolaCtaCte</Servicio>
		<Parametros>
			<Parametro>objeto</Parametro>
		</Parametros>
	</MenuItem>

	<MenuItem mostrar="OBJ" key="4">
		<NombreServicio>SaldoCtaCte</NombreServicio>
		<Descripcion>Saldo</Descripcion>
		<Servicio>/cuentaswls/SaldoCtaCte</Servicio>
		<Parametros>
			<Parametro>objeto</Parametro>
		</Parametros>
	</MenuItem>

	<MenuItem mostrar="OBJ" key="5">
		<NombreServicio>CartolaHistorica</NombreServicio>
		<Descripcion>Cartola Histórica</Descripcion>
		<Servicio>/cuentaswls/ControladorCuentas?opcion=CTACTECARTOLAHISTORICA</Servicio>
		<Parametros>
			<Parametro>objeto</Parametro>
		</Parametros>
	</MenuItem>


	<MenuItem mostrar="OBJ" key="6">
		<NombreServicio>TransferenciaOtrosBancos</NombreServicio>
		<Descripcion>A Otros Bancos</Descripcion>
		<Servicio>/cuentaswls/Transferencias</Servicio>
		<TipoCliente>P</TipoCliente>
		<TipoUsuario>T</TipoUsuario>
	</MenuItem>

	<MenuItem mostrar="OBJ" key="7">
		<NombreServicio>TransferenciaTerceros</NombreServicio>
		<Descripcion>A Cuentas de Terceros &amp;nbsp;&amp;nbsp;Banco Nova</Descripcion>
		<Servicio>/cuentaswls/Transferencias</Servicio>
		<TipoCliente>P</TipoCliente>
		<TipoUsuario>T</TipoUsuario>
	</MenuItem>
	
	<MenuItem mostrar="" key="8">
		<NombreServicio>TransferenciaTercerosAhorro</NombreServicio>
		<Descripcion>A Cuentas de Ahorro de &amp;nbsp;&amp;nbsp;Terceros</Descripcion>
		<Servicio>/cuentaswls/Transferencias</Servicio>		
		<TipoCliente>P</TipoCliente>
		<TipoUsuario>T</TipoUsuario>
	</MenuItem>

	<MenuItem mostrar="" key="9">
		<NombreServicio>TrfCuentas</NombreServicio>
		<Descripcion>Entre Ctas. Ctes. y Ctas. &amp;nbsp;&amp;nbsp;primas</Descripcion>
		<Servicio>/cuentaswls/Transferencias</Servicio>
		<TipoCliente>P</TipoCliente>
		<TipoUsuario>T</TipoUsuario>
	</MenuItem>
	<MenuItem mostrar="SI" key="10">
		<NombreServicio>RecargaCelulares</NombreServicio>
		<Descripcion>Recarga de Celular</Descripcion>
		<Servicio>/conosurwls/recargacelulares/obtieneOperadoras.do</Servicio>
		<TipoCliente>P</TipoCliente>
		<TipoUsuario>T</TipoUsuario>
	</MenuItem>
	<MenuItem mostrar="SI" key="18">
		<NombreServicio>RecargaCelulares</NombreServicio>
		<Descripcion>Recargas Frecuentes</Descripcion>
		<Servicio>/conosurwls/recargacelulares/eliminaAlias.do?accion=inicio</Servicio>
		<TipoCliente>P</TipoCliente>
		<TipoUsuario>T</TipoUsuario>
	</MenuItem>
	<MenuItem mostrar="SI" key="11">
		<NombreServicio>RecargaCelulares</NombreServicio>
		<Descripcion>Cartola Recargas de Celular</Descripcion>
		<Servicio>/conosurwls/recargacelulares/cartolaRecargaCelular.do?evento=init</Servicio>
		<TipoCliente>P</TipoCliente>
		<TipoUsuario>T</TipoUsuario>
	</MenuItem>
	
		<MenuItem mostrar="SI" key="12">
		<NombreServicio>SolicTarBipGener</NombreServicio>
		<Descripcion>Solicitud Tarjeta bip!</Descripcion>
		<Servicio>/conosurwls/solicitudTarjetaBip/solicitudTarjetaBipNova.do</Servicio>
		<TipoCliente>P</TipoCliente>
	</MenuItem>
	<MenuItem mostrar="SI" key="13">
		<NombreServicio>TRANSTGO-Recarga</NombreServicio>
		<Descripcion>Cargar Tarjeta bip!</Descripcion>
		<Servicio>/conosurwls/transantiago/inicioRecargaTarjetaBip.do</Servicio>
		<TipoCliente>P</TipoCliente>
		<TipoUsuario>T</TipoUsuario>
	</MenuItem>
    <MenuItem mostrar="SI" key="14">
		<NombreServicio>TRANSTGO-BipFrecuente</NombreServicio>
		<Descripcion>Tarjetas Frecuentes</Descripcion>
		<Servicio>/conosurwls/transantiago/tarjetasBipFrecuentes.do?metodo=obtenerTarjetas</Servicio>
		<TipoCliente>P</TipoCliente>
		<TipoUsuario>T</TipoUsuario>
	</MenuItem>
	<MenuItem mostrar="SI" key="15">
		<NombreServicio>TRANSTGO-CargaProgramada</NombreServicio>
		<Descripcion>Ver Cargas Programadas</Descripcion>
		<Servicio>/conosurwls/transantiago/cargasProgramadas.do?metodo=obtenerCargas</Servicio>
		<TipoCliente>P</TipoCliente>
		<TipoUsuario>T</TipoUsuario>
	</MenuItem>
	 <MenuItem mostrar="SI" key="16">
		<NombreServicio>TRANSTGO-PagoAutomatico</NombreServicio>
		<Descripcion>Pago Automatico</Descripcion>
		<Servicio>/conosurwls/transantiago/pagoAutomatico.do?metodo=obtenerPagosAutomaticos</Servicio>
		<TipoCliente>P</TipoCliente>
		<TipoUsuario>T</TipoUsuario>
	</MenuItem>
	<MenuItem mostrar="OBJ" key="35">
		<NombreServicio>hipotecario</NombreServicio>
		<Descripcion>Simule y Solicite su Hipotecario</Descripcion>			
		<Servicio>/conosurwls/chiphipotecario/simulacion/index.html</Servicio>
	</MenuItem>
		<!-- 
	<MenuItem mostrar="SI" key="36">
		<NombreServicio>ConsolidarDeuda</NombreServicio>
		<Descripcion>Consolide sus Deudas</Descripcion>			
		<Servicio>/conosurwls/consolidadordeudas/simularConsolidadorDeuda.do</Servicio>
</MenuItem>
	-->
	
	<!-- Seguro Soap -->
	<MenuItem mostrar="SI" key="37">
		<NombreServicio>Comprar SOAP</NombreServicio>
		<Descripcion>Comprar Seguro Obligatorio</Descripcion>
		<Servicio>/bcinetwls/autenticacioninterdomain/autenticacionInterdomain.do?page=page_clientes_seg_soap_compra_nova</Servicio>		
	</MenuItem>
	
	<MenuItem mostrar="SI" key="38">
		<NombreServicio>Consultar SOAP</NombreServicio>
		<Descripcion>Consultar Seguro Obligatorio</Descripcion>
		<Servicio>/bcinetwls/autenticacioninterdomain/autenticacionInterdomain.do?page=page_clientes_seg_soap_consulta_nova</Servicio>		
	</MenuItem>

  <!-- # =================== -->   
  <!-- # Tarjetas de Crédito -->    
  <!-- # =================== -->
    <MenuItem mostrar="OBJ" key="21">
        <NombreServicio>SaldoCtaCred</NombreServicio>
        <Descripcion>Saldo</Descripcion>
        <Servicio>/conosurwls/tarjetasonline/ConsultaSaldoAction.do?method=obtieneResumenSaldo</Servicio>
        <Parametros>
            <Parametro>objeto</Parametro>
        </Parametros>
    </MenuItem>

    <MenuItem mostrar="OBJ" key="22">
        <NombreServicio>EstadoNacional</NombreServicio>
        <Descripcion>Estado de Cuenta Nacional</Descripcion>
            <Servicio>/conosurwls/tarjetasonline/EstadoCuentaNacionalAction.do?method=obtieneEstadoCuentaNacional</Servicio>
        <Parametros>
                    <Parametro>objeto</Parametro>
        </Parametros>
    </MenuItem>

    <MenuItem mostrar="OBJ" key="24">
        <NombreServicio>ComprasNoFacturadasNac</NombreServicio>
        <Descripcion>Movimientos Sin Facturar</Descripcion>
        <Servicio>/conosurwls/tarjetasonline/MovNoFacturadosAction.do?method=mostrarUltimosMovimientos&amp;nacint=N</Servicio>
        <Parametros>
            <Parametro>objeto</Parametro>
        </Parametros>
    </MenuItem>


    <MenuItem mostrar="OBJ" key="25">
        <NombreServicio>PagoCtaCred</NombreServicio>
        <Descripcion>Pago Deuda Nacional en Línea</Descripcion>
        <Servicio>/conosurwls/tarjetasonline/pagoNacionalAction.do?method=solicitar</Servicio>
        <Parametros>
            <Parametro>objeto</Parametro>
        </Parametros>
        <TipoCliente>P</TipoCliente>
        <TipoUsuario>T</TipoUsuario>
    </MenuItem>
 
    <MenuItem mostrar="OBJ" key="26">
        <NombreServicio>AvanceCtaCred</NombreServicio>
        <Descripcion>Avance</Descripcion>
        <Servicio>/conosurwls/tarjetasonline/avanceEfectivoAction.do?method=solicitar</Servicio>
        <Parametros>
            <Parametro>objeto</Parametro>
        </Parametros>
        <TipoCliente>P</TipoCliente>
        <TipoUsuario>T</TipoUsuario>
    </MenuItem>

    <MenuItem mostrar="OBJ" key="165">
        <NombreServicio>CambioFechaPago</NombreServicio>
        <Descripcion>Cambio en Fecha de Pago</Descripcion>
        <Servicio>/conosurwls/tarjetasonline/cambiarFechaPagoAction.do?method=solicita</Servicio>
        <Parametros>
            <Parametro>objeto</Parametro>
        </Parametros>
        <TipoCliente>P</TipoCliente>
        <TipoUsuario>T</TipoUsuario>
    </MenuItem>
    
  
    
    <MenuItem mostrar="OBJ" key="30">
        <NombreServicio>SolAumentoCupoVisa</NombreServicio>
        <Descripcion>Aumento Cupo</Descripcion>
        <Servicio>/seguridadwls/CheckSession?servicio=SolAumentoCupoTC&amp;canal=110</Servicio>
        <Parametros>
            <Parametro>objeto</Parametro>
        </Parametros>
    </MenuItem>
    
    <MenuItem mostrar="OBJ" key="31">
        <NombreServicio>SolTarjetaAdicional</NombreServicio>
        <Descripcion>Solicitud Tarjeta Adicional</Descripcion>
        <Servicio>/tarjetaswls/TarjetaSolicitar</Servicio>
        <Parametros>
            <Parametro>objeto</Parametro>
        </Parametros>
    </MenuItem>
    
    <MenuItem mostrar="OBJ" key="32">
        <NombreServicio>SolReposicion</NombreServicio>
        <Descripcion>Solicitud Reposición</Descripcion>
        <Servicio>/seguridadwls/CheckSession?servicio=SolReposicion&amp;canal=110</Servicio>
        <Parametros>
            <Parametro>objeto</Parametro>
        </Parametros>
    </MenuItem>
    
    <MenuItem mostrar="OBJ" key="33">
        <NombreServicio>SolTarjeta</NombreServicio>
        <Descripcion>Solicitud Tarjeta</Descripcion>
        <Servicio>/seguridadwls/CheckSession?servicio=SolTarMenu&amp;canal=110</Servicio>
    </MenuItem>

        <MenuItem mostrar="OBJ" key="99">
                <NombreServicio>TarjetaVirtual</NombreServicio>
                <Descripcion>Tarjet@Virtual</Descripcion>
                <Servicio>/conosurwls/tarjetas/virtual/TarjetaVirtual</Servicio>
                <Parametros>
                        <Parametro>objeto</Parametro>
                </Parametros>
        </MenuItem>
           

    <MenuItem mostrar="OBJ" key="161">
        <NombreServicio>CambioPINTarjetaCredito</NombreServicio>
        <Descripcion>&lt;FONT color=##FF0000&gt;&lt;strong&gt;Generación o Cambio de PinPass&lt;/strong&gt;&lt;/FONT&gt;</Descripcion>
        <Servicio>/conosurwls/tarjetasonline/actualizaPINAction.do?method=inicio</Servicio>
        <Parametros>
            <Parametro>objeto</Parametro>
        </Parametros>
  </MenuItem>
   <MenuItem mostrar="OBJ" key="254">
        <NombreServicio>Solicitudes</NombreServicio>
        <Descripcion>Solicitudes</Descripcion>
        <Servicio>/conosurwls/tarjetas/solicitudes.jsp</Servicio>
    </MenuItem>

	<MenuItem mostrar="OBJ" key="115">
        <NombreServicio>AvanceCtaCred</NombreServicio>
        <Descripcion>Avance en Cuotas</Descripcion>
        <Servicio>/conosurwls/tarjetasonline/avanceCuotasAction.do?method=solicitar</Servicio>
            <Parametros>
                    <Parametro>objeto</Parametro>
            </Parametros>
        <TipoCliente>P</TipoCliente>
        <TipoUsuario>T</TipoUsuario>
	</MenuItem>
	
	<!-- link patpass nova -->
	<MenuItem mostrar="OBJ" key="131">
		<NombreServicio>PagosPat</NombreServicio>
		<Descripcion>PatPass</Descripcion>
		<Servicio>/common/pago.htm</Servicio>
	</MenuItem>

<!-- Fin Tarjetas -->  
</Menu>
