#header
{
    WIDTH: 715px;
    BACKGROUND-COLOR: white
}
#footer2
{
    WIDTH: 580px;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: center
}
#footer
{
    WIDTH: 715px;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: center
}
#menu
{
    WIDTH: 16%;
    bgcolor: #E5E5E5
}
#MandatoryLabel
{
    FONT-WEIGHT: 900;
    FONT-SIZE: smaller;
    COLOR: #000000
}
#RegularLabel
{
    FONT-SIZE: smaller;
    COLOR:#000000; 
    FONT-FAMILY: Curior
}
#BlackLabel
{
    FONT-SIZE: x-small;
    COLOR: black
}
#BigtitleLabel
{
    FONT-WEIGHT: bold;
    FONT-SIZE: larger;
    COLOR: black
}
#titleLabel
{
    FONT-WEIGHT: bold;
    FONT-SIZE: x-small;
    COLOR: black
}
#disableLabel
{
    FONT-SIZE: x-small;
    COLOR: #808080;
    FONT-FAMILY: Curior
}
#transactionPage
{
    WIDTH: 80%;
    BACKGROUND-COLOR: #e0e4ff;
    TEXT-ALIGN: left
}
#page1
{
    WIDTH: 580px;
    BACKGROUND-COLOR: #CCCCCC;
    TEXT-ALIGN: left;
    cellspacing: 0
}
#page2
{
    TEXT-ALIGN: left;
    cellspacing: 0
}
#page3
{
    WIDTH: 715px;
    BACKGROUND-COLOR:#CCCCCC;
    cellspacing: 0
}
#centerMe
{
    WIDTH: 100%;
    TEXT-ALIGN: center
}
#justBackGround
{
    BACKGROUND-COLOR: #e0e4ff
}
#buttons
{
    WIDTH: 715px;
    BACKGROUND-COLOR: white
}
#login
{
    WIDTH: 200px;
    BACKGROUND-COLOR: lightskyblue;
    ALIGN: center
}
#tableHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: x-small;
    BACKGROUND-COLOR: #B2B2B2}
#tdFont
{
    FONT-SIZE: x-small;
    FONT-FAMILY: Curior
}
BODY
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #E5E5E5;
	background-image: url(body_bg.gif);
	background-repeat: repeat-y;
	background-position: left top;
	margin: 0px auto auto 10px;


}
FONT
{
    FONT-SIZE: x-small;
    FONT-FAMILY: Curior
}
#header2
{
    WIDTH: 715px
}
#valign
{
    VERTICAL-ALIGN: middle
}
#docs
{
    FONT-SIZE: 14px;
    WIDTH: 396px;
    FONT-FAMILY: monospace
}
#changedcolor
{
    COLOR: #dc143c
}
#homepage
{
    WIDTH: 100%;
    BACKGROUND-COLOR: #001873
}
#menuLink
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11px;
    COLOR: white
}
#errorLabel
{
    FONT-WEIGHT: bold;
    COLOR: red
}
#itemsTFormatter
{
    FONT-SIZE: 14px;
    WIDTH: 630px;
    FONT-FAMILY: monospace
}
#itemtable
{
    FONT-SIZE: 14px;
    WIDTH: 630px;
    FONT-FAMILY: monospace
}
#itemsTFormatterTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    FONT-FAMILY: monospace;
    BACKGROUND-COLOR: #FF0000}
#DocLabel
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 24px;
    COLOR: darkblue;
    FONT-FAMILY: 'Times New Roman', 'MS Sans Serif';
    BACKGROUND-COLOR: white
}

#justBackGroundAndWidth
{
	 WIDTH: 700px;
    BACKGROUND-COLOR: #CCCCCC}
#installment
{
	FONT-FAMILY: monospace;
	WIDTH: 450px
}