TARIFA_AUTO~PA;TUX=IBARetTarAutPrm;IN=scoring~codigo|cod_plan_cob~codigo2|cod_compania~codEmpresa|DEDUCIBLE~codigo3|MARCA~codigo4|MODELO~codigo5|USO~codigo6;OUT=valor~valor;DESC=Recupera Valor;
SCORING_AUTO;TUX=IBARetTarAutSco;IN=cod_compania~codEmpresa|EDAD~codigo2|N_SINIESTROS~codigo3|COND_EXCLUSIVA~codigo4;OUT=valor~valor;DESC=Recupera Valor;
SCORING_AUTO_ROYAL;TUX=IBARetTarAutSco;IN=cod_compania~codEmpresa|EDAD~codigo2|N_SINIESTROS~codigo3;OUT=valor~valor;DESC=Recupera Valor para Royal;

### funciones tarifa Hogar Flexible ###

SCORING_HOGAR_FLEX;TUX=IBARetTarHogSco;IN=COMUNA~comuna|SECTOR~sector|TIPO_CONSTRUCCION~tipoConstruccion|TIPO_VIVIENDA~tipoVivienda;OUT=valor~valor;DESC=Recupera Valor;
TARIFA_HOGAR_FLEX~PA;TUX=IBARetTarHogPrm;IN=scoring~codigo3|cod_plan_cob~plan|MONTO_EDIFICIO~monto1|MONTO_CONTENIDO~monto2|ROBO~codigo|SISMO~codigo2;OUT=valor~valor;DESC=Recupera Valor;
TARIFA_HOGAR_FLEX~PE;TUX=IBARetTarHogPE;IN=scoring~codigo3|cod_plan_cob~plan|MONTO_EDIFICIO~monto1|MONTO_CONTENIDO~monto2|ROBO~codigo|SISMO~codigo2;OUT=valor~valor;DESC=Recupera Valor;

### funciones tarifa Proyeccion ###
## Producto APV

SCORING_PROYECCION_APV;TUX=IBATarInvScoAPV;IN=EDAD~edad|SEXO~sexo|cod_plan_cob~texto;OUT=valor~valor;DESC=Recupera Valor;
TARIFA_PROYECCION_APV~PA;TUX=IBATarInvPrmAPV;IN=EDAD~edad|SEXO~sexo|cod_plan_cob~texto;OUT=valor~valor;DESC=Recupera Valor;
TARIFA_PROYECCION_APV~PE;TUX=IBAInvPrmAPVExe;IN=PRIMA_EXCESO~prima|EDAD~edad|SEXO~sexo|cod_plan_cob~texto;OUT=valor~valor;DESC=Recupera Valor;

## Producto ULF
SCORING_PROYECCION_ULF;TUX=IBATarInvScoULF;IN=EDAD~edad|SEXO~sexo|cod_plan_cob~texto;OUT=valor~valor;DESC=Recupera Valor;
TARIFA_PROYECCION_ULF~PA;TUX=IBATarInvPrmULF;IN=EDAD~edad|SEXO~sexo|cod_plan_cob~texto;OUT=valor~valor;DESC=Recupera Valor;
TARIFA_PROYECCION_ULF~PE;TUX=IBAInvPrmULFExe;IN=PRIMA_EXCESO~prima|EDAD~edad|SEXO~sexo|cod_plan_cob~texto;OUT=valor~valor;DESC=Recupera Valor;

### funciones tarifa Incendio ####
TARIFA_INCENDIO~PA;TUX=IBARetTarIncPA;IN=cod_plan_cob~plan|MONTO_EDIFICIO~monto1|MONTO_CONTENIDO~monto2|MONTO_MERCADERIA~monto3|ROBO~codigo|SISMO~codigo2|ASISTENCIA~codigo3;OUT=valor~valor;DESC=Recupera Valor;
TARIFA_INCENDIO~PE;TUX=IBARetTarIncPE;IN=cod_plan_cob~plan|MONTO_EDIFICIO~monto1|MONTO_CONTENIDO~monto2|MONTO_MERCADERIA~monto3|ROBO~codigo|SISMO~codigo2|ASISTENCIA~codigo3;OUT=valor~valor;DESC=Recupera Valor;

## Producto ULV_PLUS
TARIFA_ULV_PLUS~PA;TUX=IBAUlvPlusPrmAf;IN=EDAD~edad|SEXO~sexo|cod_plan_cob~texto|cod_prod~producto;OUT=valor~valor;DESC=Recupera Valor;
TARIFA_ULV_PLUS~PE;TUX=IBAUlvPlusPrmEx;IN=PRIMA_EXCESO~prima|EDAD~edad|SEXO~sexo|cod_plan_cob~texto|cod_prod~producto;OUT=valor~valor;DESC=Recupera Valor;

## EuroAmerica Se. Colectivo Escolaridad
TARIFA_EURO_ESCOLARIDAD~PA;TUX=IBATarEurColEsc;IN=cod_plan_cob~codigo|MONTO_ASEGURADO~monto|HIJOS_1~cantidad|HIJOS_2~cantidad2|HIJOS_3~cantidad3|HIJOS_4~cantidad4;OUT=valor~valor;DESC=Recupera Valor;
TARIFA_EURO_ESCOLAR_BCI~PE;TUX=IBATarBCIColEsc;IN=cod_plan_cob~codigo|MONTO_ASEGURADO~monto|HIJOS_1~cantidad|HIJOS_2~cantidad2|HIJOS_3~cantidad3|HIJOS_4~cantidad4;OUT=valor~valor;DESC=Recupera Valor;
