<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
	xmlns:cmp=" http://www.bolero.net/io/xmlns/header/1.0">
	
<xsl:param  name="dtdPath">
	<xsl:value-of select="PackingList/Internals/dtdPath"/>
</xsl:param>	
<!--xsl:output method="xml" indent="yes"  doctype-system="{$dtdPath}"/-->
<!-- good line: -->
<!--xsl:output method="xml" indent="yes"  doctype-system="C:\Program Files\IBM\VisualAge for Java\ide\project_resources\IBM WebSphere Test Environment\hosts\default_host\default_app\web\DTD_files\packingList.dtd"/-->
<xsl:output method="xml" indent="yes"/>

  <!--xsl:template match="RoutingSummary">
    <xsl:copy>
      <xsl:apply-templates select="*"/>
    </xsl:copy>
  </xsl:template-->
  
  <!--xsl:template match="*[ancestor::RoutingSummary]">
    <xsl:copy>     
      <xsl:apply-templates select="node()"/>
    </xsl:copy>
  </xsl:template--> 
  
<!--xsl:template match="RoutingSummary/transportService"/>
<xsl:template match="RoutingSummary/transportModeCode"/>
<xsl:template match="RoutingSummary/DateDetails"/-->

  <!--xsl:template match="RoutingSummary/MeansOfTranspor/SeaTransportIdentification/VoyageDetail">
  <xsl:copy>
      <xsl:copy-of select="@*" />
      <xsl:apply-templates />
       <xsl:copy-of select="Body"/>
   </xsl:copy>
</xsl:template-->
<xsl:template match="/">
	<xsl:element name="PackingList">
		<xsl:element name="Header"> 
			<!--Header xmlns:cmp=" http://www.bolero.net/io/xmlns/header/1.0"-->
			<xsl:element name="cmp:DocumentID">
				<xsl:element name="cmp:RID"/>
				<xsl:element name="cmp:GeneralID">
					<xsl:copy>
							<xsl:for-each select="PackingList">
									<xsl:for-each select="DocInfo">
										<xsl:for-each select="References">
											<xsl:if test="contains(referenceQualifier/text(),'380')">
												<xsl:for-each select="referenceValue">
														<xsl:apply-templates/>
												</xsl:for-each>
											</xsl:if>
										</xsl:for-each>
									</xsl:for-each>
							</xsl:for-each>			    		
					</xsl:copy>
				</xsl:element>
			</xsl:element>
			
			<xsl:element name="cmp:DocType">
				<xsl:element name="cmp:DocTypeCode">
						<xsl:for-each select="PackingList">
							<xsl:for-each select="DocInfo">
								<xsl:for-each select="References">
									<xsl:if test="contains(referenceQualifier/text(),'380')">
										<xsl:for-each select="referenceQualifier">
												<xsl:apply-templates/>
										</xsl:for-each>
									</xsl:if>
								</xsl:for-each>
							</xsl:for-each>
					</xsl:for-each>			    		
				</xsl:element>
			</xsl:element>
			<xsl:element name="cmp:Status">Draft</xsl:element>
		</xsl:element>		<!-- Header -->
		<xsl:element name="Body">
			<!-- GeneralInformation -->
			<xsl:element name="GeneralInformation">
				<xsl:copy>
		    			<xsl:copy-of select="PackingList/GeneralInformation/DateDetails"/>
		    			<xsl:copy-of select="PackingList/GeneralInformation/Location"/>
		    			<xsl:copy-of select="PackingList/GeneralInformation/CountryFunction"/>
				</xsl:copy>
			</xsl:element>		
			<!-- References-->
			<!-- Party-->
			<xsl:for-each select="PackingList/Party">
				<xsl:copy>
			    			<xsl:copy-of select="partyQualifier"/>				
						<xsl:copy-of select="organizationName"/>				
						<xsl:copy-of select="TransactionReference"/>		
						<xsl:element name="AddressInformation">
							<xsl:element name="FullAddress">
								<xsl:copy-of select="AddressInformation/line"/>						    	
							</xsl:element>
						</xsl:element>		
			    			<xsl:copy-of select="ContactDetails"/>				
				</xsl:copy>
			</xsl:for-each>			
			<!-- TermsAndConditions -->
			<xsl:copy>
					<xsl:copy-of select="PackingList/TermsAndConditions"/>
			</xsl:copy>					
			<!-- RoutingSummary -->
			<xsl:element name="RoutingSummary">
				<xsl:element name="MeansOfTransport">
					<xsl:element name="SeaTransportIdentification">				
						<xsl:copy>
				    			<xsl:copy-of select="PackingList/RoutingSummary/MeansOfTranspor/SeaTransportIdentification/Vessel"/>		    	
						</xsl:copy>
						<xsl:call-template name="voyageDetail"/>
					</xsl:element>						
				</xsl:element>
			</xsl:element>	
			<!-- Goods-->
			<xsl:element name="Goods">
				<xsl:element name="GoodsDescription">
					<xsl:element name="line">
						<xsl:copy>
							<xsl:value-of select="PackingList/Goods/goodsDescription"/>
						</xsl:copy>
					</xsl:element>
				</xsl:element>
			</xsl:element>
			
			<!-- Consignment-->
			
			<!-- PackingDetail-->
			<xsl:element name="PackingDetail">
				<!-- Product-->

				<!-- Package-->
				<xsl:for-each select="PackingList/Package">
					<xsl:copy>
						<xsl:copy-of select="PackageAndWeightDetail"/>
					</xsl:copy>		
				</xsl:for-each>					
			</xsl:element>	
			<!-- AdditionalInformation-->
			<xsl:element name="AdditionalInformation">
				<xsl:element name="line">
					<xsl:copy>
						<xsl:value-of select="PackingList/AdditionalFields/Additional271"/>
					</xsl:copy>				
				</xsl:element>				
			</xsl:element>
			
		</xsl:element>	<!-- Body-->
	</xsl:element>	<!-- PackingList -->	
 </xsl:template>
 
<xsl:template name="voyageDetail">
	<xsl:element name="VoyageDetail">
		<xsl:copy>
			<xsl:copy-of select="PackingList/RoutingSummary/MeansOfTranspor/SeaTransportIdentification/VoyageDetail/voyageNumber"/>
			<xsl:copy-of select="PackingList/RoutingSummary/DateDetails"/>		    
		</xsl:copy>
	</xsl:element>
</xsl:template>
<!--xsl:call-template name="DoPageBreaks"/-->
</xsl:stylesheet>
